<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form role="login">
          <img src="https://i.ibb.co/dM3fh9d/Joro.png" class="img-responsive" alt="" />
          <input matInput type="text" name="username" placeholder="Username" required class="form-control input-lg"
            [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" />

          <input matInput type="password" class="form-control input-lg" id="password" placeholder="Password" required
            [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" />

          <button (click)="login()" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>

        </form>

        <div class="form-links">
          <a href="#">JoroMedicalSoftware</a>
        </div>
      </section>
    </div>

    <div class="col-md-4"></div>
  </div>
</div>