<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Prescription</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="first-row">
      <mat-form-field class="left-column">
        <input matInput placeholder="PrescriptionID" value="123">
      </mat-form-field>

      <mat-form-field class="middle-column">
        <input matInput placeholder="Drug Name">
      </mat-form-field>

      <mat-form-field class="right-column">
        <input readonly matInput placeholder="Doctor" value="Dr Milisav">
      </mat-form-field>
    </div>

    <div class="second-row">

      <mat-form-field class="max-column">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date of Expiry">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="max-column">
        <textarea matInput placeholder="Note" rows="4" cols="50"></textarea>
      </mat-form-field>
    </div>

    <div class="third-row">
      <mat-form-field class="max-column">
        <textarea matInput placeholder="Description od Use" rows="7" cols="50"></textarea>
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>PRINT</button>
  </mat-card-actions>
</mat-card>